<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shop</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="container">
        <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="catalog.html">Catalog</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1 class="header-big">Catalog</h1>

    <div class="catalog">

        <div class="column-left">
            <div class="filter">
                <div class="filter-header">
                    <h4>Search</h4>
                    <a href="#" class="clear">Clear</a>
                </div>
                <div>
                    <input type="text" placeholder="search..."/>
                </div>
                <h4>Manufacturer</h4>
                <div>
                    <div>
                        <input type="radio" name="manufacturere" id="all" value="all" checked/>
                        <label for="all">All</label>
                    </div>
                    <div>
                        <input type="radio" name="manufacturere" id="apple" value="apple"/>
                        <label for="apple">Apple</label>
                    </div>
                    <div>
                        <input type="radio" name="manufacturere" id="dell" value="dell"/>
                        <label for="dell">Dell</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="column-right">
            <div class="products">
                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>

                <div class="product">
                    <img src="https://i.imgur.com/s7zey8T.jpg" alt="Apple iMac 27 Retina"/>
                    <p class="price">$2099.99</p>
                    <h3>iMac 27 Retina</h3>
                </div>


            </div>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <p>Shop © 2020 <br> Designed by Andrzej</p>
    </div>
</footer>

</body>
</html>